.header {
	background: #FFF;
	padding: 0 15px;
	height: 60px;
	
	.header-title {
		font-size: 20px;
	}
	.header-breadcrumb {
		font-size: 14px;
		color: #333;
	}
	
	.noticefication,
	.user {
		list-style-type: none;
		display: inline-block;
		height: 60px;
		line-height: 60px;
		margin-right: 20px;
		.dropdown-toggle {
			i {
				font-size: 26px;
			}
		}
	}
	.user {
		.user-head {
			display: inline-block;
			width: 40px;
			height: 40px;
			border-radius: 50%;
		}
		.user-name {
			text-align: center;
		}
	}
}