//- extends ./layout/layout

doctype html
html
	head
		title index
		link(rel="stylesheet", href="css/style.css")
		script(src="js/index.js")
	body
		h1= title
		p Welcome to #{title}
		p Test why nodemo

