doctype html
html
  head
  	block head
    	title= title
    	link(rel='stylesheet', href='/css/style.css')
    	link(rel="stylesheet", href="/lib/bootstrap/dist/css/bootstrap.min.css")
    	script(src="/lib/jquery/dist/jquery.min.js")
    	script(src="/lib/bootstrap/dist/js/bootstrap.min.js")
  body.container
    block body
  		div.header
  			block header
  				include ./includes/header.jade
  		div.content
  			block content
  		div.footer
  			block footer
  				include ./includes/footer.jade
  		div.aside
  			block aside
  				include ./includes/aside.jade
