<!-- 新增评论 -->
<div class="comment-add">
    <div class="form-group">
        <textarea name="comment-input"
                  class="comment-input form-control"
                  placeholder="哎呦，不错哦～"></textarea>
    </div>
    <div class="form-group clearfix">
        <button class="btn btn-primary pull-right">提交</button>
    </div>
</div>